/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #fcf5eb;
  font-family: "Inter", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
}

h1 {
  font-size: 4.4rem;
  font-family: "Playfair Display", serif;
  margin-top: 2em;
  position: relative;
}

h1::before {
  font-size: 30rem;
  color: rgba(0, 0, 0, 0.05);
  position: absolute;
  content: "N";
  top: -13rem;
  left: -8rem;
}

h2 {
  font-size: 2.2rem;
  font-family: "Playfair Display", serif;
}

/*********3*********************************
/* LAYOUT
/*******************************************/
main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 2.4em;
}

section {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
}

/******************************************
/* Media queries
/*******************************************/

@media screen and (min-width: 600px) {
  section {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
  }
  article {
    flex: 1;
  }
  article:nth-of-type(1) {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 900px) {
  article:nth-of-type(1) {
    flex-basis: 0;
  }
}
